! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.terminal: mate-terminal
rofi.color-enabled: true
rofi.font: System San Francisco Display Regular 18
rofi.lines: 3
rofi.eh: 2
rofi.width: 100
rofi.padding: 200
rofi.fullscreen: true
rofi.bw: -1
rofi.separator-style: none
rofi.hide-scrollbar: false
rofi.fake-transparency: true
!                  'background', 'border', 'separator'
rofi.color-window: argb:750039ff, #0039ff, #4F80FF
! State:           'bg',    'fg',    'bgalt', 'hlbg', 'hlfg'
rofi.color-normal: #0039ff, #4f80ff, #0039ff, #4f80ff, #ffffff
rofi.color-active: #0039ff, #68ba50, #0039ff, #4f80ff, #68ba50
rofi.color-urgent: #0039ff, #ff7047, #0039ff, #4f80ff, #ff7047

! ------------------------------------------------------------------------------
! URXVT configuration and Color theme
! ------------------------------------------------------------------------------
!urxvt*font:                 xft:xos4 Terminus:size=10
urxvt*font:                 xft:Source Code Pro for Powerline:size=10:style=Semibold

urxvt*termName:             rxvt
urxvt*background:           #33393b
urxvt*foreground:           white
urxvt*scrollBar:            false

URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1

Xft*dpi:                    96
Xft*antialias:              true
Xft*hinting:                true
Xft*hintstyle:              hintfull
Xft*rgba:                   rgb

URxvt.transparent:          false
URxvt.tintColor:            #54487a
URxvt.shading:              100
URxvt.inheritPixmap:        false
URxvt.fading:               100

URxvt.saveLines:            50000
URxvt.cursorBlink:          1

URxvt*scrollTtyOutput: 	    false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

URxvt*color0:      	        #000000
URxvt*color8:      	        #666666

URxvt*color1:               #9e1828
URxvt*color9:      	        #cf6171

URxvt*color2:      	        #aece92
URxvt*color10:     	        #c5f779

URxvt*color3:      	        #968a38
URxvt*color11:     	        #fff796

URxvt*color4:      	        #414171
URxvt*color12:     	        #4186be

URxvt*color5:      	        #963c59
URxvt*color13:     	        #cf9ebe

URxvt*color6:      	        #418179
URxvt*color14:     	        #71bebe

URxvt*color7:      	        #bebebe
URxvt*color15:     	        #ffffff
